
@import "tailwindcss";



:root {
  --text: #52525b;
  --text-h: #09090b; 
  --bg: #ffffff; 
  --border: #e4e4e7; 
  --code-bg: #f4f4f5; 
  --accent: #9333ea; 
  --accent-bg: rgba(147, 51, 234, 0.08);
  --accent-border: rgba(147, 51, 234, 0.3);
  --social-bg: #fafafa; 
  --shadow: rgba(0, 0, 0, 0.08) 0 10px 15px -3px, rgba(0, 0, 0, 0.04) 0 4px 6px -2px;


  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

#root {
  width: 100%;
  max-width: 1326px; 
  margin: 0 auto;    
  border-left: 1px solid #e5e7eb;  
  border-right: 1px solid #e5e7eb; 
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #ffffff; 
  overflow-x: clip; 
}


/* Infinite Marquee Animation for Logo Slider */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    /* Moves exactly half the width (since we duplicate the logos) to loop perfectly */
    transform: translateX(-50%); 
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

/* Optional: Pauses the slider when the user hovers over it */
.animate-marquee:hover {
  animation-play-state: paused;
}

/* Infinite Vertical Scroll for CTA Section */
@keyframes scrollVertical {
  0% {
    transform: translateY(0);
  }
  100% {
    /* Transforms by exactly half so the duplicated images loop perfectly */
    transform: translateY(-50%);
  }
}

.animate-scroll-vertical {
  animation: scrollVertical 25s linear infinite;
}